/* style.css */
body {
    font-family: 'Cairo', sans-serif;
    background-color: #fcfbf7;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.org-chart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.level {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    background-color: #e7b631;
    color: #141413;
    border: 2px solid #8e9296;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.box:hover {
    transform: scale(1.1);
    background-color: #636465;
    color: #ececec;
}

.ceo {
    background-color: #49402f;
    color: #fcfbf7;
    font-size: 24px;
    padding: 20px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .level {
        flex-direction: column;
    }
}